body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fdfdfd;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 500px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#select-image {
    display: none;
}

label {
    display: flex;
    align-items: center;
    background: #025bee;
    padding: 18px 30px;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

label svg {
    fill: #ffffff;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.preview_image p {
    text-align: center;
}

#images {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
}



.image_name {
    display: block;
    font-size: 14px;
    text-align: center;
}